[MASTER]
ignore=tests
jobs=1

[MESSAGES CONTROL]
disable=import-error,too-few-public-methods,logging-fstring-interpolation,raise-missing-from

[BASIC]
good-names=i,j,k,db,f,e

[FORMAT]
max-line-length=120

[DESIGN]
max-args=6
max-branches=12
max-statements=60

[REPORTS]
reports=no
score=yes
